.control {
  margin: 1rem 0;
  background-color: black;
}
.card {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}
.control label {
  color: #f0f0f0;
  display: block;
  font-weight: bold;
  background-color: black;
  padding: 10px;
  text-align: left;
}

.control input,
.control textarea {
  display: block;
  width: 100%;
  font: inherit;
  color: white;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #5e03b8;
  background-color: black;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #230052;
}